anyio==3.5.0
asgiref==3.5.0
asyncio==3.4.3
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
fastapi==0.75.0
greenlet==1.1.2
h11==0.13.0
httptools==0.4.0
idna==3.3
pydantic==1.9.0
PyMySQL==1.0.2
python-dotenv==0.20.0
PyYAML==6.0
requests==2.27.1
sniffio==1.2.0
soupsieve==2.3.1
SQLAlchemy==1.4.32
starlette==0.17.1
tqdm==4.63.1
typing-extensions==4.1.1
urllib3==1.26.9
uvicorn==0.17.6
uvloop==0.16.0
watchgod==0.8.1
websockets==10.2
