.box {
    width: 38vw;
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.title {
    height: 5vh;
    text-align: center;
    font-size: 2.5vh;
    font-weight: bold;
    padding-top: 10px;
}

.body {
    display: flex;
}

.left {
    width: 70%;
    padding-left: 60px;
}

.right {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}
