.main {
    height: 5vh;
    background-color: black;
}

.list {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    // background-color: red;
}

.link{
    width:30%;
    text-decoration: none;
}

.li {
    // background-color: #555;
    // line-height: 2vh;
    text-align: center;
    font-size: 2vh;
    color:white;
    // background-color: red;
    
}

.link:hover{
    border-bottom:medium solid white;
}