@import '../../_config/config.scss';

.list {
    height: 5vh;
    font-size: 2vh;
    display: flex;
    align-items: center;
}

.name {
    width: 40%;
    text-align: center;
    // background-color: yellow;
}

.value {
    width: 60%;
    text-align: center;
    // background-color: green;
}

.list:first-child{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-weight:700;
    background-color:#aaaaaa;
}

.list:nth-child(2n){
    background-color:#ffffff;
}

.image{
    @include desktop{
        width:1vw; 
    }
    @include tablet{
        width:2vh;
    }
    @include mobile{
        width:2vh;
    }
    margin-right:10px;
}

.link{
    text-decoration: none;
    color:black;
}