@import '../_config/config.scss';

.main {
    height: 10vh;
    display: flex;
}

.title {
    font-family: 'AlexBrush';
    font-size: 8vh;
}

.link {
    text-decoration: none;
    color: black;
    @include desktop {
        margin-left: 20vw;
    }
    @include tablet {
        margin: 0 auto;
    }
    @include mobile {
        margin: 0 auto;
    }
}

.link:hover {
    color: black;
}

.a {
    text-decoration: none;
    color: rgb(31, 31, 31);
}

.a:hover {
    color: #555;
}

.ul {
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
    @include desktop{
        margin: 0;
        padding: 0;
        text-align: center;
        margin-left: 40vw;
    }
}

.list {
    font-size: 1.8vh;
    margin: 0 20px;
    padding: 0;
    border: 0;
}

.list > .ex{
    @include tablet {
        display:none;
    }
    @include mobile {
        display:none;
    }
}

.issue{
    @include tablet {
        font-size:1vh;
    }
    @include mobile {
        font-size:1vh;
    }
}